<%= form_with(model: [question.game, question]) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :answer, style: "display: block" %>
    <%= form.check_box :answer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
