<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">
    <%= form_with model: curiosity do |form| %>
      <div class='field'>
        <%= form.label :title, class: 'label'%>
        <%= form.text_field :title, class: 'input' %>
        <%= error_tag_for(curiosity, :title) %>
      </div>

      <div class='field'>
        <%= form.label :content, class: 'label' %>
        <%= form.text_area :content, class: 'textarea' %>
        <%= error_tag_for(curiosity, :content) %>
      </div>

      <div class='field'>
        <% if curiosity.images.attached? %>
          <%= image_tag(url_for(curiosity.images[0]), width: "650", height: "450") %>
        <% else %>
          <img alt="default image" src="https://bulma.io/images/placeholders/1280x960.png"/>
        <% end %>
        <div class="content file">
          <label class="file-label">
            <%= form.file_field :images, multiple: true, include_hidden: false, class: 'file-input' %>
            <% curiosity.errors.full_messages_for(:images).each do |msg| %>
              <%= msg %>
            <% end %>
            <span class="file-cta">
              <span class="file-icon"><i class="fas fa-upload"></i></span>
              <span class="file-label">Choose a file…</span>
            </span>
          </label>
        </div>
      </div>

      <div class="field">
        <div class="select content">
          <%= form.select(:category_id, options_for_select(Category.all.map { |p| [p.name, p.id] })) %>
        </div>
      </div>

      <% if current_user.admin? %>
      <div class='field'>
        <%= form.label :extra_comments, class:'label' %>
        <%= form.text_area :extra_comment, class:'textarea'%>
      </div>

      <div class='field'>
        <%= form.label :truthful, "Real", class:'title is-5' %>
        <%= form.check_box :truthful, { class: "checkbox" } %>
      </div>
      <% end %>

      <div class='control has-text-right'>
        <% if curiosity.persisted? && current_user.admin? %>
          <%= link_to 'Destroy', curiosity_card_path(curiosity),
            class: 'button is-danger is-outlined', data: {
            turbo_method: :delete,
            turbo_confirm: 'Are you sure?' }
          %>
        <% end %>
        <%= form.submit class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
