<div class="colums is-mobile">
  <div class='column is-6'>
    <%= form_with url: root_path, method: :get do |form| %>
      <%= form.label :query, "Search for:", class: 'label' %>
      <%= form.text_field :query, class: 'input' %>
      <%= form.submit "Search",  class: 'button' %>
    <% end %>
  </div>

  <div class="column is-2 is-offset-10">
    <%= link_to 'Add New Curiosity',
      new_curiosity_card_path, class: 'button is-info mb-2 is-outlined' %>
  </div>
</div>

<div class="row columns is-multiline" id="app">
<% @curiosities.each do |curiosity| %>
  <div class="column is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <% if curiosity.images.attached? %>
            <%= image_tag curiosity.images[0].variant(:thumb) %>
          <% else %>
            <img alt="default image" src="https://bulma.io/images/placeholders/1280x960.png"/>
          <% end %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">
              <%= curiosity.title.truncate(50) %>
              <%= tag.span("Published", class: "tag is-info") if current_user&.admin? && curiosity.published? %>
            </p>
          </div>
        </div>
        <div class="content">
          <span>
            <%= curiosity.content.truncate(100)%>
            <% if curiosity.content.size >= 100 %>
              <%= link_to 'see more', curiosity_card_path(curiosity)%>
            <% end %>
          </span>
        </div>
        <article class="media">
          <div class="media-content">
            <div class="content">
              <nav class="level is-mobile">
                <% if current_user && current_user.admin? %>
                  <%= link_to curiosity_card_path(curiosity),
                    class: 'button is-primary level-item' do %>
                    <span class="icon is-small has-text-centered icon_size">
                    Show
                    </span>
                  <% end %>
                <% else %>
                  <%= button_to 'Real', curiosity_card_statement_path(curiosity, is_real: true),
                    class: "button #{real_option_selected(curiosity, current_user)}",
                    method: :patch, data: { turbo: 'false' } %>
                  <%= button_to ' Fake', curiosity_card_statement_path(curiosity, is_real: false),
                    class: "button #{fake_option_selected(curiosity, current_user)}",
                    method: :patch, data: { turbo: 'false' } %>
                  <%= button_to 'Delete vote', curiosity_card_statement_path(curiosity),
                    class: "button", method: :delete %>
                  <%= link_to 'Comments', curiosity_card_path(curiosity), class: 'button' %>
                <% end %>
              </nav>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
<% end %>
</div>
