.row.colums.is-mobile
  .column.is-2.is-offset-10
    = link_to 'Add New Curiosity',
      new_curiosity_card_path, class: 'button is-info mb-2 is-outlined'

.row.columns.is-multiline#app
  - @curiosities.each do |curiosity|
    .column.is-3
      .card
        .card-image
          %figure.image.is-16by9
            - if curiosity.images.attached?
              = image_tag(url_for(curiosity.images[0]) )
            - else
              %img{ alt: 'default image',
              src: 'https://bulma.io/images/placeholders/1280x960.png' }/
        .card-content
          .media
            .media-content
              %p.title.is-4= curiosity.title
          .content
            %span= curiosity.content
          %article.media
            .media-content
              .content
                %nav.level.is-mobile
                  %a.level-item{ "aria-label" => "reply" }
                    %span.icon.is-small
                      %i.fas.fa-reply{ "aria-hidden" => "true" }
                  %a.level-item{ "aria-label" => "retweet" }
                    %span.icon.is-small
                      %i.fas.fa-retweet{ "aria-hidden" => "true" }
                    = link_to curiosity_card_path(curiosity), class: 'level-item' do
                      %span.icon.is-small
                        %i.fas.fa-comment{ "aria-hidden" => "true" }
