<%= render "shared/curiosity_cards", search: @curiosities do |curiosity| %>
  <% if current_user && current_user.admin? %>
    <%= link_to curiosity_card_path(curiosity),
      class: 'button is-primary level-item' do %>
      <span class="icon is-small has-text-centered icon_size">
      Show
      </span>
    <% end %>
  <% else %>
    <%= link_to curiosity_card_statement_index_path(curiosity, is_real: true),
      class: 'level-item', data: { 'turbo-method' => :post } do %>
      <span class="icon is-small has-text-centered icon_size">
        <i aria-hidden="true" class="fas fa-check fa-lg"> Real</i>
      </span>
    <% end %>
    <%= link_to curiosity_card_statement_index_path(curiosity, is_real: false),
      class: 'level-item', data: { 'turbo-method' => :post } do %>
      <span class="icon has-text-centered">
        <i aria-hidden="true" class="fas fa-times fa-lg"> Fake</i>
      </span>
    <% end %>
    <%= link_to curiosity_card_path(curiosity), class: 'level-item' do %>
      <span class="icon is-small has-text-centered">
        <i aria-hidden="true" class="fas fa-comment fa-lg"> Comments</i>
      </span>
    <% end %>
  <% end %>
<% end %>
