<h2 class='title is-2'><%= @curiosity.title %></h2>
<p class="subtitle">
  <%= tag.span((@curiosity.published? ? "Published" : "Upublished"), class: "tag is-info") if current_user&.admin? %>
</p>
<div class="columns">
  <div class="column">
    <% @curiosity.images.each do |image| %>
      <%= image_tag(url_for(image), width: "650", height: "450") %>
    <% end %>
    <div class='block'>
      <%= @curiosity.content %>
    </div>

    <div class="control">
      <div class="tags has-addons">
        <span class="tag is-primary"><%= @curiosity.total_real_statements %></span>
        <span class="tag is-danger"><%= @curiosity.total_fake_statements %></span>
      </div>
    </div>

    <div class='buttons is-pulled-right'>
      <%= button_to 'Real', curiosity_card_statement_path(@curiosity, is_real: true),
        class: "button is-active #{real_option_selected(@curiosity, current_user)}",
        method: :patch, data: { turbo: 'false' } %>
      <%= button_to ' Fake', curiosity_card_statement_path(@curiosity, is_real: false),
        class: "button is-active #{fake_option_selected(@curiosity, current_user)}",
        method: :patch, data: { turbo: 'false' } %>
      <%= button_to 'Delete vote', curiosity_card_statement_path(@curiosity),
        class: "button is-active", method: :delete %>
    </div>

    <% if user_signed_in? %>
      <div class="buttons is-pulled-right">
        <% if policy(@curiosity).edit? %>
          <% if current_user.admin? %>
            <% if @curiosity.published? %>
              <%= link_to 'Unpublish', curiosity_card_unpublish_path(@curiosity), class: 'button is-warning', data: { "turbo-method" => :delete } %>
            <% else %>
              <%= button_to 'Publish', curiosity_card_publish_path(@curiosity), class: 'button is-info', method: :patch, data: { turbo: false } %>
            <% end %>
          <% end %>
          <%= link_to 'Edit', edit_curiosity_card_path(@curiosity), class: 'button is-primary is-outlined' %>
        <% end %>
        <% if policy(@curiosity).destroy? %>
          <%= link_to 'Destroy', curiosity_card_path(@curiosity),
            class: 'button is-danger is-outlined', data: {
              turbo_method: :delete,
              turbo_confirm: 'Are you sure?'}
            %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="column">
    <h2 class='title is-4'>Add New Comments</h2>
    <%= render 'comments/form', curiosity: @curiosity,
      comment: Comment.new(curiosity_card_id: @curiosity.id)
    %>

    <hr class='has-background-black'/>
    <%= render @curiosity.comments %>
  </div>
</div>
