<div class='field'>
  <div class='control'>
    <%= f.label :title, class:'label'%>
    <%= f.text_field :title, class:'input' %>
    <% @curiosity.errors.full_messages_for(:title).each do |msg| %>
      <span class='has-text-danger'>
        <%= msg %>
      </span>
    <% end %>
  </div>
</div>
<%= f.label :content, class:'label' %>
<%= f.text_area :content, class:'textarea'%>
<% @curiosity.errors.full_messages_for(:content).each do |msg| %>
  <span class='has-text-danger'>
    <%= msg %>
  </span>
<% end %>
<br/>
<% if @curiosity.images.attached? %>
  <%= image_tag(url_for(@curiosity.images[0]), width: "650", height: "450") %>
<% else %>
  <img alt="default image" src="https://bulma.io/images/placeholders/1280x960.png"/>
<% end %>
<div class="content file">
  <label class="file-label">
    <%= f.file_field :images, multiple: true, include_hidden: false, class:'file-input'%>
    <% @curiosity.errors.full_messages_for(:images).each do |msg| %>
      <%= msg %>
    <% end %>
    <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    </span>
  </label>
</div>

<div class="select content">
  <%= f.select(:category_id, options_for_select(Category.all.map { |p| [p.name, p.id] })) %>
</div>
