<div class="box">
  <div class="block">
    <h2 class='title has-text-primary'> Select one Category:</h2>
    <%= form_with(model: game) do |form| %>
      <% if game.errors.any? %>
        <div>
          <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
          <ul>
            <% game.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="select is-rounded is-medium">
          <%= form.collection_select :category_id, Category.all, :id, :name %>
        </div>
      </div>

      <div>
        <%= form.submit class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
