%h2.title.is-3 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name),
  html: { data: { turbo: false } }) do |f|
  .field
    = f.label :email, class: 'label'
    .control
      = f.email_field :email, autofocus: true,
        autocomplete: "email", class: 'input'
  .field
    = f.label :password, class: 'label'
    .control
      = f.password_field :password, autocomplete: "current-password",
        class: 'input'

  - if devise_mapping.rememberable?
    .field
      .control
        = f.label class: 'checkbox' do
          = f.check_box :remember_me
          %span Recuérdame
  .has-text-right
    = f.submit "Log in", class: 'button is-primary'

= render "devise/shared/links"
