<nav aria-label="main navigation" class="navbar box" role="navigation">
  <div class="navbar-brand image is-64x64">
    <a href="/">
      <%= image_tag('curiosity.jpg', class: 'is-rounded', size: '50px') %>
    </a>
  </div>
  <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="navbar-basic-example" role="button">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>

  <div class="navbar-end">
    <div class="navbar-item is-size-3 is-uppercase
    has-text-weight-medium has-text-weight-bold
    has-text-info">
      curiosity
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <%= link_to "Play", games_path, class: 'button is-link is-outlined' %>
        <% if user_signed_in? %>
          <%= button_to 'Log out', destroy_user_session_path,
                    method: :delete, class: 'button is-light',
                    data: { turbo: 'false' } %>
          <span><%= current_user.email %></span>
        <% else %>
          <%= link_to 'Log in', new_user_session_path, class: 'button is-info is-outlined' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'button is-primary is-outlined' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
