!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8",
    "http-equiv" => "Content-Type" }/
    %title Curiosity
    %meta{ content: "width=device-width,initial-scale=1",
    name: "viewport" }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_importmap_tags
  %body
    = render 'shared/navbar'
    .hero
      .hero-body
        .columns
          .column.is-half.is-offset-one-quarter
            .has-text-centered
              %h1.title.is-1.main-title Curiosity
            .card
              .card-content.has-text-centered
                - if notice
                  %p.alert.alert-success
                    = notice
                - if alert
                  %p.alert.alert-danger
                    = alert
                = yield
