<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Curiosity</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="hero">
      <div class="hero-body">
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="has-text-centered">
              <h1 class="title is-1 main-title">Curiosity</h1>
            </div>
            <div class="card">
              <div class="card-content has-text-centered">
                <% if notice %>
                  <p class="alert alert-success">
                    <%= notice %>
                  </p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-danger">
                    <%= alert %>
                  </p>
                <% end %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
